<% @recipes.each do |recipe| %>

  <!-- <%#= recipe.categories %> -->
  <p><%= recipe.name %></p>

  <ul>
      <li>
        <!-- <%#= r.name %> was created by <%#= r.user.name %>, it was on <%#= r.categories.first.name %> -->
        <img src="<%= recipe.image %>">
      <%= link_to "view recipe", recipe_path( recipe.id ), :method => :get %>
        <ul>
          <% recipe.comments.each do |m| %>
            <li><%= m.name %></li>
          <% end %>
        </ul>

      </li>

  </ul>

<% end %>
<%= link_to 'Back', user_path(@current_user) %>
