
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @recipe.image %>"width="250" height="250" margin-right:"10px">

</p>

<p>
  <strong>Category:</strong>
  <% @recipe.categories.each do |category|  %>
    <%= category.name %>
  <% end %>
</p>


<p>
  <strong>Ingredient:</strong>
  <% @recipe.ingredients.each do |ingredient|  %>
    <%= ingredient.name %>
  <% end %>
</p>
<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe),:class => "waves-effect waves-light btn" %>
<%= link_to 'Back', user_path(@recipe.user),:class => "waves-effect waves-light btn" %>
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } ,:class => "waves-effect waves-light btn"%>


<p>
  <strong>Youtube videos:</strong>
  <% @all_video_link .each do |singleVideoLink|  %>
   <%= singleVideoLink %>
  <% end %>
</p>

<div id="disqus_thread"></div>
<script>

    (function() {  
        var d = document, s = d.createElement('script');

        s.src = '//recipebook-1.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
