<div class="search_123">

<%= form_tag recipes_search_path, method: :get do |f| %>
<%= submit_tag 'Search',:class => "search waves-effect waves-light btn" %>
<%= select_tag 'category',options_for_select(Category.all.map{|el| [el.name, el.id]}), :class => "category"  %>
  <% @user.recipes.each do |recipe| %>
  <% end %>
<% end %>
</div>
<div class="search_tag"></div>

<p id="notice"><%= notice %></p>
<div class="recipe-details">
<% @user.recipes.each do |r| %>
<div class="recipe">
  <p><%= r.name %></p>
  <img class="each_image" src="<%= r.image %>" style='width:300px;height:300px;margin-left:10px;margin-right:10px;'><br>
  <%= link_to "view recipe", recipe_path( r.id ), :method => :get ,:class => "waves-effect waves-light btn"%>
  </div>
<% end %>
</div>
<br>
