

<%= form_tag recipes_search_path, method: :get do |f| %>
<div class="row">
<div class="col s6 right-align "><%= submit_tag 'Search',:class => "search waves-effect waves-light btn" %></div>
<div class="col s6"><%= select_tag 'category',options_for_select(Category.all.map{|el| [el.name, el.id]}), :class => "category"  %></div>

</div>
  <% @user.recipes.each do |recipe| %>
  <% end %>
<% end %>


<div class="search_tag"></div>

<p id="notice"><%= notice %></p>

<div class="row ">

  <% @user.recipes.each do |r| %>
<div class=" col s4 ">
<td><p><%= r.name %></p><td>
<td><img class="z-depth-5" src="<%= r.image %>" style='width:200px;height:200px;margin-left:10px;margin-right:10px;'><br></td>
<td><%= link_to "view recipe", recipe_path( r.id ), :method => :get ,:class => "waves-effect waves-light btn"%></td>
</div>
<% end %>

</div>
