<!DOCTYPE html>
<html>
<head>
  <title>Recipebook</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:success] %>
      <h1><%= flash[:success] %></h1>
    <% end %>
    <% if flash[:error] %>
      <h1><%= flash[:error] %></h1>
    <% end %>

    <nav>


      <% unless @current_user.present? %>
        <%= link_to( "Login", login_path(),:class => "waves-effect waves-light btn" ) %>
        <%= link_to( "Sign up", new_user_path(),:class => "waves-effect waves-light btn" ) %>
      <% else %>
        <%= link_to( "Edit", edit_user_path(@current_user.id) ,:class => "waves-effect waves-light btn") %>
        <%= link_to( "Log out ", logout_path(), :method => :delete,:class => "waves-effect waves-light btn" ) %>
        <%= link_to 'Add Recipe', new_recipe_path,:class => "waves-effect waves-light btn" %>
      <% end %>
    </nav>
<%= yield %>
<script id="dsq-count-scr" src="//recipebook-1.disqus.com/count.js" async></script>


</body>
</html>
